
.anthony {
    background-image: url('../img/anthony.jpg');
}
.emilio {
    background-image: url('../img/emilio.jpg');
}
.judd {
    background-image: url('../img/judd.jpg');
}
.michael {
    background-image: url('../img/michael.jpg');
}
.paul {
    background-image: url('../img/paul.jpg');
}

.ally {
    background-image: url('../img/ally.jpg');
}
.blanche {
    background-image: url('../img/blanche.jpg');
}
.haviland {
    background-image: url('../img/haviland.jpg');
}
.molly {
    background-image: url('../img/molly.jpg');
}
.kelly {
    background-image: url('../img/kelly.jpg');
}
