
.hetvi {
    background-image: url('../img/hetvi.png');
}
.sarah {
    background-image: url('../img/sarah.jpg');
}
.seme {
    background-image: url('../img/seme.jpg');
}
.michele {
    background-image: url('../img/michele.jpg');
}
.michelle {
    background-image: url('../img/michelle.jpg');
}

.darrell {
    background-image: url('../img/darrell.jpg');
}
.eric {
    background-image: url('../img/eric.jpg');
}
.randall {
    background-image: url('../img/randall.jpg');
}
.george {
    background-image: url('../img/george.jpg');
}
.vander {
    background-image: url('../img/vander.jpg');
}
